@model panasonic.ViewModels.MaterialRequestViewModel.CreateViewModel;

@{
    ViewData["PanelTitle"] = "Create Material Request";
}


<div class="card">
    <div class="card-body">
        <form method="post" asp-controller="MaterialRequest" asp-action="Create">
            @Html.AntiForgeryToken()
            <table class=" table">
                <thead>
                    <tr>
                        <th>Material</th>
                        <th>Quantity</th>
                        <th>Line Destination</th>
                    </tr>
                </thead>

                <tbody>

                    @for (int i = 0; i < Model.CreateForms.Count(); i++)
                    {
                        <tr>
                            <td>
                                <select class="form-control" asp-for="@Model.CreateForms[i].MaterialId" required>
                                    <option value="">Select Material</option>
                                    @foreach (var material in Model.Materials!)
                                    {
                                        <option value="@material.Id">@material.Name</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <input type="number" class="form-control" required asp-for="@Model.CreateForms[i].Quantity">

                            </td>
                            <td>
                                <select class="form-control" asp-for="@Model.CreateForms[i].ProductionLineId" required>
                                    <option value="">Select Production Line</option>
                                    @foreach (var line in Model.ProductionLines!)
                                    {
                                        <option value="@line.Id">@($"Production Line - {line.Remark}")</option>

                                    }
                                </select>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
