@model panasonic.ViewModels.MaterialRequestViewModel.CreateViewModel;

@{
    ViewData["PanelTitle"] = "Create Material Request";
}


<form method="post" asp-controller="MaterialRequest" asp-action="Create" id="form-test">
    @Html.AntiForgeryToken()


    @for (int i = 0; i < Model.CreateForms.Count(); i++)
    {
        <div class="card">
            <div class="card-body">
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">
                        Material
                    </label>
                    <div class="col-sm-10">
                        <select class="form-control" asp-for="@Model.CreateForms[i].MaterialId" required>
                            <option value="">Select Material</option>
                            @foreach (var material in Model.Materials!)
                            {
                                <option value="@material.Id">@material.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">
                        Quantity
                    </label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control col-1" required asp-for="@Model.CreateForms[i].Quantity">
                        <span class="measurement-text">

                        </span>

                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">
                        Production Line Destination
                    </label>
                    <div class="col-sm-10">
                        <select class="form-control" asp-for="@Model.CreateForms[i].ProductionLineId" required>
                            <option value="">Select Production Line</option>
                            @foreach (var line in Model.ProductionLines!)
                            {
                                <option value="@line.Id">@($"Production Line - {line.Remark}")</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">
                        required Date
                    </label>
                    <div class="col-sm-10">
                        <input type="date" asp-for="CreateForms[i].RequiredAt" class="form-control">

                    </div>
                </div>
                <button type="button" class="btn btn-danger remove-row-btn">
                    Remove request
                </button>
            </div>
        </div>
    }




</form>


<div class="card">
    <div class="card-body">
        <button class="btn btn-primary" type="submit" form="form-test">Submit</button>
        <button class="btn btn-secondary" id="add-new-row-btn">Add New Request</button>
    </div>
</div>



@section Scripts
{
    <script>
        $(document).ready(function () {
            let rowCount = @Model.CreateForms.Count();
            let currentDate = new Date();


            $('#add-new-row-btn').on('click', function (e) {


                let newRow = `
                            <div class="card">
                            <div class="card-body">
                            <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">
                                                                                                                                Material
                                                                                                                            </label>
                                                                                                                            <div class="col-sm-10">
                                                                                                                                <select class="form-control" name="CreateForms[${rowCount}].MaterialId" required>
                                                                                                                                    <option value="">Select Material</option>
        @foreach (var material in Model.Materials!)
        {
                                                                                                                                                                                                                                                            <option value="@material.Id">@material.Name</option>
        }
                                                                                                                                    </select>
                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                            <div class="form-group row">
                                                                                                                                <label for="" class="col-sm-2 col-form-label">
                                                                                                                                    Quantity
                                                                                                                                </label>
                                                                                                                                <div class="col-sm-10">
                                                                                                                                    <input type="number" class="form-control" required name="CreateForms[${rowCount}].Quantity">

                                                                                                                                </div>
                                                                                                                            </div>
                                                                                                                            <div class="form-group row">
                                                                                                                                <label for="" class="col-sm-2 col-form-label">
                                                                                                                                    Production Line Destination
                                                                                                                                </label>
                                                                                                                                <div class="col-sm-10">
                                                                                                                                    <select class="form-control" name="CreateForms[${rowCount}].ProductionLineId" required>
                                                                                                                                        <option value="">Select Production Line</option>
        @foreach (var line in Model.ProductionLines!)
        {
                                                                                                                                                                                                                                                            <option value="@line.Id">@($"Production Line - {line.Remark}")</option>
        }
                                                                                                                                    </select>
                                                                                                                                </div>
                            </div>
                            <div class="form-group row">
                                                    <label for="" class="col-sm-2 col-form-label">
                                                        required Date
                                                    </label>
                                                    <div class="col-sm-10">
                                                        <input type="date" name="CreateForms[i].RequiredAt" class="form-control" value="${currentDate.toISOString().split('T')[0]}">

                                                    </div>
                                                </div>
                                                                                                                             <button type="button" class="btn btn-danger remove-row-btn">
                                                                                                        Remove request
                                                                                                    </button>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                            `;

                $('#form-test').append(newRow);

                rowCount++;


            })

            $(document).on('click', '.remove-row-btn', function () {
                $(this).closest('div.card').remove();

                $('div.card').each(function (index) {
                    $(this).find('select, input').each(function () {
                        const nameAttr = $(this).attr('name');
                        if (nameAttr) {
                            const newName = nameAttr.replace(/\[\d+\]/, `[${index}]`);
                            $(this).attr('name', newName)
                        }
                    })
                })

                rowCount = $('div.card').length - 1;
            })




        })
    </script>
}
