@model List<panasonic.Models.MaterialRequest>

@{
    var index = 1;
}

<table class="table table-bordered dataTable no-footer dtr-inline" id="multi-filter-select">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Requested Date</th>
            <th scope="col">Material Name</th>
            <th scope="col">Required Quantity</th>
            <th scope="col">Fullfilled Quantity</th>
            <th scope="col">Required At</th>
            <th scope="col">Remark</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model)
        {
                <tr>
                    <td>@(index++)</td>
                    <td>@request.CreatedAt</td>
                    <td>@request.Material!.Name</td>
                    <td>@($"{request.RequestedQuantity} {request.Material.DetailMeasurement}")</td>
                    <td>@($"{request.FullfilledQuantity} {request.Material.DetailMeasurement}")</td>
                    <td>@request.RequiredAt</td>
                    <td>Line - @request.ProductionLine!.Remark</td>
                    <td>@switch (request.Status)
                    {
                        case MaterialRequestStatus.Pending:
                                        <span class="badge badge-secondary">@request.Status</span>
                            break;
                        case MaterialRequestStatus.Approved:
                                        <span class="badge badge-success">@request.Status</span>
                            break;
                        case MaterialRequestStatus.Rejected:
                                        <span class="badge badge-danger">@request.Status</span>
                            break;
                        case MaterialRequestStatus.Verified:
                                        <span class="badge badge-info">@request.Status</span>
                            break;
                    }
                    </td>
                    <td>

                    </td>

                </tr>
        }
    </tbody>
</table>