@{
    var currentPath = ViewContext.HttpContext.Request.Path.Value;
    var isDashboardActive = currentPath == "/" || currentPath == "/Dashboard" || currentPath == "/Dashboard/Index";
    var roles = new List<string> { "AsistantLeader", "ShiftLeader", "StoreManager", "Admin" };
}

<div class="sidebar sidebar-style-2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner scroll-content scroll-scrolly_visible"
        style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 314px;">
        <div class="sidebar-content">
            <div class="user">
                <div class="avatar-sm float-left mr-2">
                    <img src="../assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                            @ViewBag.Username
                            <span class="user-level">@ViewBag.Role</span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <div class="clearfix"></div>

                    <div class="collapse in" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="#profile">
                                    <span class="link-collapse">My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="#edit">
                                    <span class="link-collapse">Edit Profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="#settings">
                                    <span class="link-collapse">Settings</span>
                                </a>
                            </li>
                            <li><a href="#">
                                    <span class="" data-toggle="modal" data-target="#logout-modal">Log
                                        Out</span>
                                </a>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav nav-primary">
                <li class="nav-item @(isDashboardActive ? "active" : "")">
                    <a asp-controller="Dashboard" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                @* Admin Menu *@
                @if (ViewBag.Role == "Admin")
                {
                    <li class="nav-section">
                        <span class="sidebar-mini-icon">
                            <i class="fa fa-ellipsis-h"></i>
                        </span>
                        <h4 class="text-section">Admin Menu</h4>
                    </li>
                    <li class="nav-item @(currentPath == "/User" ? "active" : "")">
                        <a asp-controller="User" asp-action="Index">
                            <i class="fas fa-home"></i>
                            <span class="sub-item">Manage Users</span>
                        </a>
                    </li>
                    <li class="nav-item @(currentPath == "/Material" ? "active" : "")">
                        <a asp-controller="Material" asp-action="Index">
                            <i class="fas fa-home"></i>
                            <span class="sub-item">Material List</span>
                        </a>
                    </li>
                    <li class="nav-item @(currentPath == "/ProductionLine" ? "active" : "")">
                        <a asp-controller="ProductionLine" asp-action="Index">
                            <i class="fas fa-home"></i>
                            <p>Production Lines</p>
                        </a>
                    </li>
                }

                @* Shift Leader Menu *@
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Shift Leader Menu</h4>
                </li>
                <li class="nav-item @(currentPath == "/User" ? "active" : "")">
                    <a asp-controller="User" asp-action="Index">
                        <i class="fas fa-clock"></i>
                        <span class="sub-item">Manage Shifts</span>
                    </a>
                </li>
                <li class="nav-item @(currentPath == "/Material" ? "active" : "")">
                    <a asp-controller="Material" asp-action="Index">
                        <i class="fas fa-clipboard-list"></i>
                        <span class="sub-item">Material Requests</span>
                    </a>
                </li>

                @* Material Handler Menu *@
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Material Handler Menu</h4>
                </li>
                <li class="nav-item @(currentPath == "/User" ? "active" : "")">
                    <a asp-controller="User" asp-action="Index">
                        <i class="fas fa-cogs"></i>
                        <span class="sub-item">Manage Preperation Room</span>
                    </a>
                </li>
                 <li class="nav-item @(currentPath == "/SendMaterialReturn" ? "active" : "")">
                    <a asp-controller="SendMaterialReturn" asp-action="Index">
                        <i class="fas fa-undo"></i>
                        <span class="sub-item">Material Return </span>
                    </a>
                </li>


                @* Asistant Leader Menu *@
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Asistant Leader</h4>
                </li>
                <li class="nav-item @(currentPath == "/User" ? "active" : "")">
                    <a asp-controller="User" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span class="sub-item">Manage Line</span>
                    </a>
                </li>
                <li class="nav-item @(currentPath == "/MaterialRequest" ? "active" : "")">
                    <a asp-controller="MaterialRequest" asp-action="Index">
                        <i class="fas fa-clipboard-list"></i>
                        <span class="sub-item">Material Request</span>
                    </a>
                </li>
                <li class="nav-item @(currentPath == "/PrepRoom" ? "active" : "")">
                    <a asp-controller="PrepRoom" asp-action="Index">
                        <i class="fas fa-cogs"></i>
                        <span class="sub-item">Preparation Room</span>
                    </a>
                </li>
                <li class="nav-item @(currentPath == "/MaterialUsage" ? "active" : "")">
                    <a asp-controller="MaterialUsage" asp-action="Index">
                        <i class="fas fa-dolly"></i>
                        <span class="sub-item">Material Usage</span>
                    </a>
                </li>
                <li class="nav-item @(currentPath == "/MaterialReturn" ? "active" : "")">
                    <a asp-controller="MaterialReturn" asp-action="Index">
                    <i class="fas fa-undo"></i>
                    <span class="sub-item">Material Return</span>
                 </a>
                </li>
                
                  @* Store Manager Menu *@
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Store Manager</h4>
                </li>
                <li class="nav-item @(currentPath == "/ManageMaterialRequest" ? "active" : "")">
                     <a asp-controller="ManageMaterialRequest" asp-action="Index">
                     <i class="fas fa-clipboard-list"></i>
                     <span class="sub-item">Manage Material Request</span>
                </a>
                </li>
                </li>
            </ul> 
        </div>
    </div>
    <div class="scroll-element scroll-x scroll-scrolly_visible" style="">
        <div class="scroll-element_outer">
            <div class="scroll-element_size"></div>
            <div class="scroll-element_track"></div>
            <div class="scroll-bar ui-draggable ui-draggable-handle" style="width: 88px;"></div>
        </div>
    </div>
    <div class="scroll-element scroll-y scroll-scrolly_visible" style="">
        <div class="scroll-element_outer">
            <div class="scroll-element_size"></div>
            <div class="scroll-element_track"></div>
            <div class="scroll-bar ui-draggable ui-draggable-handle" style="height: 87px; top: 0px;"></div>
        </div>
    </div>
</div>