@model panasonic.ViewModels.AreaViewModel.IndexViewModel;

@{
    ViewData["PanelTitle"] = "Manage Production Line";
}

<div class="card">

    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Line</th>
                    <th>Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.areas != null)
                {
                    @foreach (var area in @Model.areas)
                    {
                        <tr>
                            <td>@area.Id</td>
                            <td>@area.Remark</td>
                            <td>@area.Type</td>
                            <td>
                                <a asp-controller="Area" asp-action="Manage" asp-route-id="@area.Id"
                                    class="btn btn-primary">Manage</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>