@model panasonic.ViewModels.EditUserViewModel;

@{

    ViewData["PanelTitle"] = "Edit User : " + @Model.EditUserDto.Fullname;
}

<div class="card">
    <div class="card-content">
        <div class="card-header">
            <div class="card-title">User Detail</div>
        </div>
        <div class="card-body">
            <form asp-controller="User" asp-action="Edit" asp-route-id="@Model.EditUserDto.Id" method="post">
                <div class="form-row">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="EditUserDto.Id">
                    <div class="form-group col-md-4">
                        <label>Employee ID</label>
                        <input type="number" class="form-control mb-1" placeholder="Employee ID"
                            asp-for="EditUserDto.EmployeeID">
                        <span class="text-danger" asp-validation-for="EditUserDto.EmployeeID"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Full Name</label>
                        <input type="text" class="form-control mb-1" placeholder="Full Name"
                            asp-for="EditUserDto.Fullname">
                        <span class="text-danger" asp-validation-for="EditUserDto.Fullname"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label>Email</label>
                        <input type="email" class="form-control mb-1" placeholder="Email" asp-for="EditUserDto.Email">
                        <span class="text-danger" asp-validation-for="EditUserDto.Email"></span>
                    </div>


                    <div class="form-group col-12">
                        <label>Role</label>
                        <select class="form-control mb-1" asp-for="EditUserDto.RoleId">
                            @foreach (var role in @Model.Roles)
                            {
                                <option value="@role.Id">@role.DisplayName</option>
                            }
                        </select>
                        <span class="text-danger" asp-validation-for="EditUserDto.RoleId"></span>

                    </div>


                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="card-title">Change Password</div>
    </div>
    <div class="card-body">
        <form action="">

            <div class="form-row">
                <div class="form-group col">
                    <label>New Password</label>
                    <input type="password" class="form-control">
                </div>
                <div class="form-group col">
                    <label>Confirm New Password</label>
                    <input type="password" class="form-control">
                </div>
            </div>
            <button class="btn btn-primary">Change Password</button>
        </form>
    </div>

</div>