@model List<panasonic.Models.Material>;

@{
    ViewData["PanelTitle"] = "Material List";
}

@section PanelButtons {
    <a class="btn btn-success btn-round" asp-controller="Material" asp-action="Create">Create Material</a>
}


<div class="card ">
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Barcode</th>
                    <th scope="col">Action</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var material in @Model)
                {

                    <tr>
                        <th>@material.Id</th>
                        <td>@material.Name</td>
                        <td>@material.Unit</td>
                        <td>
                            <img src="/storage/materials/@material.QrCodeUrl" alt="" height="100" width="100">
                        </td>
                        <td>
                            <a class="btn btn-success" asp-controller="Material" asp-action="Edit"
                                asp-route-id="@material.Id">Edit</a>
                            <button class="btn btn-danger" data-toggle="modal"
                                data-target="#confirm-delete-modal-@material.Id">Delete</button>
                            <div class="modal fade" id="confirm-delete-modal-@material.Id">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">Confirm Delete</div>
                                        <div class="modal-body">Are you sure want to delete material "@material.Name"</div>
                                        <div class="modal-footer">
                                            <button class="btn btn-light" data-dismiss="modal">cancel</button>
                                            <form asp-controller="Material" asp-action="Delete" asp-route-id="@material.Id">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="create-material-form-modal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <p class="fs-5 modal-title">Create New Material</p>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="">
                        <label for="" class="form-label">Material Name</label>
                        <input type="text" class="form-control">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>

</div>
