@{
    ViewData["PanelTitle"] = "Preparation Room";
    var materials = ViewData["Materials"] as List<dynamic>;
}

<div class="card">
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Material Name</th>
                    <th scope="col">Material Image</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Barcode</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (materials != null && materials.Any())
                {
                    int no = 1;
                    foreach (var material in materials)
                    {
                        <tr>
                            <th>@no</th>
                            <td>@material.Name</td>
                            <td>
                                <img src="https://www.google.com/imgres?q=howls&imgurl=https%3A%2F%2Fcdn.idntimes.com%2Fcontent-images%2Fcommunity%2F2023%2F02%2Fpolish-20230208-104932231-b38ff29b9dde05cc364fe81f74650dd5-7a9ccbd76b9c817faaf47caf65da8570.png&imgrefurl=https%3A%2F%2Fwww.idntimes.com%2Fhype%2Fentertainment%2Fervina-emma-wardani%2Fpesan-moral-anime-howls-moving-castle-c1c2&docid=7j0iwnLPQjP9AM&tbnid=AosTZ7vS3Q12MM&vet=12ahUKEwjb0PTZw-OJAxU9UGcHHWX7FvkQM3oECFAQAA..i&w=770&h=514&hcb=2&ved=2ahUKEwjb0PTZw-OJAxU9UGcHHWX7FvkQM3oECFAQAA" alt="Material Image" height="100" width="100" />
                            </td>
                            <td>@material.Weight</td>
                            <td>@material.Unit</td>
                            <td>@material.Quantity</td>
                            <td>
                                <img src="https://www.google.com/imgres?q=howls&imgurl=https%3A%2F%2Fcdn.idntimes.com%2Fcontent-images%2Fcommunity%2F2023%2F02%2Fpolish-20230208-104932231-b38ff29b9dde05cc364fe81f74650dd5-7a9ccbd76b9c817faaf47caf65da8570.png&imgrefurl=https%3A%2F%2Fwww.idntimes.com%2Fhype%2Fentertainment%2Fervina-emma-wardani%2Fpesan-moral-anime-howls-moving-castle-c1c2&docid=7j0iwnLPQjP9AM&tbnid=AosTZ7vS3Q12MM&vet=12ahUKEwjb0PTZw-OJAxU9UGcHHWX7FvkQM3oECFAQAA..i&w=770&h=514&hcb=2&ved=2ahUKEwjb0PTZw-OJAxU9UGcHHWX7FvkQM3oECFAQAA" alt="Material Barcode" height="100" width="100" />
                            </td>
                            <td>
                                <a class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#use-modal-@material.Id">Use</a>

                                <!-- Modal -->
                                <div class="modal fade" id="use-modal-@material.Id" tabindex="-1" aria-labelledby="useModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="useModalLabel">Use Material</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="UseMaterial" method="post">
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="form-label">Recipient's Name</label>
                                                        <input type="text" class="form-control" id="recipient-name" name="RecipientName" required />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="employee-id" class="form-label">Employee ID</label>
                                                        <input type="text" class="form-control" id="employee-id" name="EmployeeId" required />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="material-name" class="form-label">Material Name</label>
                                                        <input type="text" class="form-control" id="material-name" name="MaterialName" required />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="weight" class="form-label">Weight</label>
                                                        <input type="text" class="form-control" id="weight" name="Weight" required />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="unit" class="form-label">Unit</label>
                                                        <input type="text" class="form-control" id="unit" name="Unit" required />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="quantity" class="form-label">Quantity</label>
                                                        <input type="number" class="form-control" id="quantity" name="Quantity" required />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="line" class="form-label">Line</label>
                                                        <input type="text" class="form-control" id="line" name="Line" required />
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                                                <button class="btn btn-primary" type="submit">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        no++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8" class="text-center">No materials available</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal for Create Material -->
<div class="modal fade" id="create-material-form-modal" tabindex="-1" aria-labelledby="createMaterialModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createMaterialModalLabel">Create New Material</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="submitMaterialForm" method="POST">
                    <div class="form-group">
                        <label for="material-name" class="form-label">Material Name</label>
                        <input type="text" class="form-control" id="material-name" name="MaterialName" required />
                    </div>
                    <div class="form-group">
                        <label for="material-weight" class="form-label">Weight</label>
                        <input type="text" class="form-control" id="material-weight" name="Weight" required />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

