@model panasonic.ViewModels.ProductionLineViewModel.EditViewModel;

@{
    ViewData["PanelTitle"] = "Edit Production Line";
}


<div class="card">
    <div class="card-body">
        <form asp-action="Edit" asp-route-id="@Model.ProductionLine.Id" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="">Line Remark</label>
                <input class="form-control" type="number" asp-for="Remark" value="@Model.ProductionLine!.Remark">
                <span asp-validation-for="Remark" class="text-danger form-text"></span>
            </div>
            <div class="form-group">
                <label for="">Description</label>
                <textarea asp-for="Description" class="form-control">@Model.Description</textarea>
                <input type="text" value="@Model.Description">
                <span asp-validation-for="Description" class="text-danger form-text"></span>
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
