@model List<panasonic.Models.ProductionLine>;

@{
    ViewData["PanelTitle"] = "Manage Production Line";
}

@section PanelButtons {
    <a asp-controller="ProductionLine" asp-action="Create" class="btn btn-success btn-round">Add New Line</a>
}

<div class="card">
    <div class="card-body">
        <table class="table table-bordered dataTable no-footer dtr-inline" id="multi-filter-select">
            <thead>
                <tr>
                    <th>Line</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in @Model)
                {
                    <tr>
                        <td>Line - @line.Remark</td>
                        <td>@line.Description</td>
                        <td>
                            <a asp-controller="ProductionLine" asp-action="Edit" asp-route-id="@line.Id"
                                class="btn btn-outline-success">Edit</a>
                            <button class="btn btn-outline-danger" data-toggle="modal"
                                data-target="#confirm-delete-modal-@line.Id">
                                <i class="fas fa-trash"></i>
                                Delete
                            </button>
                            <div class="modal fade" id="confirm-delete-modal-@line.Id">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">Confirm Delete</div>
                                        <div class="modal-body">Are you sure want to delete line @line.Remark</div>
                                        <div class="modal-footer">
                                            <button class="btn btn-light" data-dismiss="modal">cancel</button>
                                            <form asp-controller="ProductionLine" asp-action="Delete"
                                                asp-route-id="@line.Id">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<form action="" method="post" hidden></form>

@section Scripts
{
    <script>
        $('#multi-filter-select').DataTable({
            " pageLength": 5, initComplete: function () {
                this.api().columns().every(function () {
                    var column = this; var
                        select = $('').appendTo($(column.footer()).empty()).on('change', function () {
                            var
                                val = $.fn.dataTable.util.escapeRegex($(this).val()); column.search(val ? '^' + val + '$' : '', true,
                                    false).draw();
                        }); column.data().unique().sort().each(function (d, j) { select.append('' + d + '') });
                });
            }
        });




    </script>
}
