@model panasonic.ViewModels.MaterialInventoryViewModel.PickupViewModel;

@{
    ViewData["PanelTitle"] = "Pickup Materials";
}


<div class="card">
    <div class="card-body">
        <div class="form-group row mb-3">
            <label class="col-2 col-form-label">Material</label>
            <div class="col-9">
                <select name="" class="form-control" id="material-select" required>
                    <option value="">Select a material</option>
                    @foreach (var materialOption in Model.Materials)
                    {
                        <option value="@materialOption.Id">@materialOption.Name -
                            @(materialOption.MaterialInventories?[0].Quantity ?? 0) @materialOption.DetailMeasurement
                            Available</option>
                    }
                </select>
            </div>
            <div class="col-1">
                <button class="btn btn-primary" type="button" id="insert-material-btn">Insert</button>
            </div>
        </div>


        <form asp-controller="MaterialInventory" asp-action="Pickup" id="pickup-form">
            <div class="form-group row mb-3">
                <label class="col-2 col-form-label">Line Destination</label>
                <div class="col-10">
                    <select asp-for="ProductionLineDestination" class="form-control">
                        <option value="">Select a Line destination</option>
                        @foreach (var lineOption in Model.ProductionLineOptions)
                        {
                            <option value="@lineOption.Id">Line - @lineOption.Remark</option>
                        }
                    </select>
                </div>
            </div>

            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Material</th>
                        <th>Available Quantity</th>
                        <th>Pickup Quantity</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="table-body"></tbody>
            </table>
        </form>
        <div class="">
            <button type="submit" class="btn btn-primary" form="pickup-form">Submit</button>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        window.materials = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Materials));

        $("#pickup-form").on("keydown", function (e) {
            if (e.key === "Enter") e.preventDefault();
        })
    </script>
    <script type="text/javascript" src="~/js/pickupMaterialForm.js"></script>
}