@model panasonic.ViewModels.MaterialInventoryViewModels.PreperationRoomViewModel;

@{
    ViewData["PanelTitle"] = "Materials In PreperationRoom";
    var index = 1;
}

@section PanelButtons {
    @if (ViewBag.Role == "StoreManager")
    {
        <a class="btn btn-secondary btn-round" asp-controller="MaterialInventory" asp-action="Send">Send Material</a>

    }
    else if (ViewBag.Role == "AsistantLeader")
    {
        <a class="btn btn-secondary btn-round" asp-controller="MaterialInventory" asp-action="Pickup">Pickup Material</a>

    }
}

<div class="card">
    <div class="card-body">
        <table class="table table-bordered dataTable no-footer dtr-inline" id="multi-filter-select">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Material Number</th>
                    <th>Material Name</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var material in Model.Inventories)
                {
                    <tr>
                        <td>@(index++)</td>
                        <td>Material - @material.MaterialNumber</td>
                        <td>@material.MaterialName</td>
                        <td>@material.InventoryAvailableQuantity @material.MaterialDetailMeasurement
                            @if (@material.InventoryAvailableQuantity == 0)
                            {
                                <span class="badge badge-danger ">
                                    <i class="fas fa-exclamation fs-1"></i>
                                </span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script>
        $('#multi-filter-select').DataTable({
            "pageLength": 5,
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('' + d + '')
                    });
                });
            }
        });
    </script>
}